body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    margin: 0 0 20px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toggle-form {
    color: #007bff;
    cursor: pointer;
  }
  
  /* Show only the login form by default */
  #signup-form {
    display: none;
  }
  
  /* Show only the sign-up form when .show-signup is added to .form-container */
  .form-container.show-signup #signup-form {
    display: block;
  }
  
  /* Show only the login form when .show-login is added to .form-container */
  .form-container.show-login #login-form {
    display: block;
  }
  
  /* Hide the login form when .show-signup is added to .form-container */
  .form-container.show-signup #login-form {
    display: none;
  }
  