
table{
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px green,
               -15px -15px 15px coral;
    }
body{
background: url(/home/vigneshwaran/Pictures/blink2.jpg);
background-size: 100%; 

}
table,tr,td{
    border: 5px solid rgb(23, 23, 24);
    border-collapse: collapse;

}
table{
    margin:50px 400px 0px 500px;
}
h1{
    text-align: center;
}
.name{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 40px;
    height: 40px;
}
.num{ 
    background-color: aliceblue;
    color: black;
    text-align: center;
    font-size: 30px;

    
}

