*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  background-color: #acb0b4;
}
.container{
    margin: auto;
    display: grid;
    grid-template-columns: 300px 67%;
    width: 235mm;
    height: 321mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.7);
}
.container .card-one{
    padding: 20px 20px;
    padding-left: 35px;
    background-color: #d1d1d1;
    width: 100%;
    color: #313131;
}
.container .contact-box h2{
    background-color: #f5a609;
    padding: 2px;
}
.container .card-one .profile{
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 260px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid #2c2b29;
    background-image: url(/home/vigneshwaran/Pictures/myimage.jpeg);
    background-position: center;
    background-size: 100%;
}
.container .card-one .contact-box{
    margin-top: 10px;

}
.container .card-one .contact-box>*{
    width: 100%;
    margin-top: 10px;
    align-items: center;
}
.container .card-one .contact-box>*{
    display: inline-flex;
    word-break: break-all;
}
.container .card-one .edu{
    margin-top: 10px;
}
.container .card-one .edu>*{
    width: 100%;
    margin-top: 10px;
    align-items: center;
}
.container .card-one .edu>*{
    display: inline-flex;
    word-break: break-all;
}
.container .edu h2{
    background-color: #f5a609;
    padding: 2px;
}

.container .card-one .personal-box{
    margin-top: 35px;
}
.container .card-one .personal-box .lan{
    margin: 10px 0;
}

.container .card-one .personal-box .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    margin-left: 4px;
    margin: 10px 0;
}

.container .personal-box h2{
    background-color: #f5a609;
    padding: 2px;
}
.container .card-one .skills{
    margin-top: 10px;
}
.container .card-one .skills>*{
    width: 100%;
    margin-top: 10px;
    align-items: center;
}
.container .card-one .skills>*{
    display: inline-flex;
    word-break: break-all;
}
.container .skills h2{
    background-color: #f5a609;
    padding: 2px;
}
.container  .card-one .hobbies{
    margin-top: 35px;
}
.container  .card-one .hobbies .logo{
    margin: 10px 0 10px 0;
}
.container .hobbies h2{
    background-color: #f5a609;
    padding: 2px;
}

 .card-two .heading{
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    color: #d1d1d1;
    font-size: 20px;
}
 .card-two #course{
    text-transform: none;
   margin: 10px 0 10px 100px;
   color: #d1d1d1;

}
 .card-two {
    
    background-color: #173c62;
}
.card-two .box{
   display: inline-block;
   padding: 2px 50px 2px 10px;
   margin-top: 35px;
   background-color: #f5a609;
   color:black;
}
.card-two .para{
    color: #d1d1d1;
    padding: 20px;
    font-size: 100%;
}
.card-two .project{
    display: inline-block;
   padding: 2px 50px 2px 10px;
   margin-top: 35px;
   background-color: #f5a609;
   color:black;
}
.para li{
    margin: 10px 0px 10px 10px;
}

.card-two .inten{
    display: inline-block;
   padding: 2px 50px 2px 10px;
   margin-top: 35px;
   background-color: #f5a609;
   color:black;
}
.card-two .certificate{
    display: inline-block;
   padding: 2px 50px 2px 10px;
   margin-top: 35px;
   background-color: #f5a609;
   color:black;
}
@media print{
    @page{
        margin: 0;
        size: A5;
    }
    *{
        -webkit-print-color-adjust:exact;
    }
}

