.total {
    position: absolute;
    background-color: white;
    margin: 100px 50px 0 250px;
}
 .total .blue{
    width: 200px;
    height: 210px;
    background-color: blue;
}
.star{
    font-size: 30px;
    color: white;
}
.a1{
    width: 700px;
    height: 30px;
    background-color:red;
}

.a2{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a3{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a4{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a5{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a6{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a7{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a8{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a9{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a10{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a11{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a12{
    width: 700px;
    height: 30px;
    background-color:white;
}
.a13{
    width: 700px;
    height: 30px;
    background-color:red;
}
.a14{
    width: 700px;
    height: 30px;
    background-color:white;
}
