
form h1{
    text-align: center;
    font-size: 50px;
}
form{
    overflow: scroll;
}
.form{
    border: 5px solid black;
    margin: 10px auto;
    width: 95%;
    height: 580px;
    padding: 20px;
    font-size: 25px;
    /* background-color: rgb(241, 110, 110); */
    
   
}
input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
}
select{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0 10px 0;
    border: 1px solid black;
    background-color: white;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
}
.btn{
    text-align: center;
}
button{
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: none;
}