h1{
    text-align: center;
    font-size: 50px;
}
.last{
    background-color: rgb(241, 110, 110);
    border: 1px solid black;
    width: 100%;
    height: 600px;
    text-align: center;
    font-size: 30px;
}