h1{
    text-align: center;
    font-size: 50px;
}
form{
    overflow: scroll;
}
.form{
    border: 5px solid black;
    margin: 10px auto;
    width: 95%;
    height: 580px;
    font-size: 25px;
    padding: 20px;
    text-transform: uppercase;
    /* background-color: rgb(241, 110, 110); */
}
.text input{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
}
select{
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 10px 0 10px 0;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
}
.radio{
    margin: 10px 0 10px 0;
    font-size: 20px;
}
.radio input{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: 20px;
}
.btn{
    text-align: center;
}
button{
    margin:10px  10px 10px 10px;
    font-size: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black,
    -5px -5px 5px black;
    border-radius: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    color: red;
    font-size: none;
}
