body{
    background: url(../Images/bg2);

}
.loginform{
    font-size: 30px;
    width: 500px;
    background-color: rgba(235, 230, 236,.8);
    margin: 150px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px red;
}
.loginform h2{
    text-align: center;
}
.input input{
    display: block;
    margin: 10px 0 20px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;
    box-shadow: 2px 2px 5px red;

}
.radio input{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: 20px;
   
}
.btn{
    text-align: center;
}
button{
    width: 65%;
    font-size: 20px;
    margin-top: 20px;
    padding:10px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px red;
}
button:hover{
    background-color: rgb(168, 228, 168);
    font-size: 30px;
}body{
    background: url(../Images/bg2);

}
.loginform{
    font-size: 30px;
    width: 500px;
    background-color: rgba(235, 230, 236,.8);
    margin: 150px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 15px red;
}
.loginform h2{
    text-align: center;
}
.input input{
    display: block;
    margin: 10px 0 20px;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid red;
    box-shadow: 2px 2px 5px red;

}
.radio input{
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    margin: 20px;
   
}
.btn{
    text-align: center;
}
button{
    width: 65%;
    font-size: 20px;
    margin-top: 20px;
    padding:10px;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 2px 2px 5px red;
}
button:hover{
    background-color: rgb(168, 228, 168);
    font-size: 30px;
}