h1{
    
    color:rgb(158, 32, 32);
    text-align: center;
    border: 1px solid black;
    background-color: aliceblue;
    padding: 10px;
}
body {
    background-color:rgb(234, 0, 255);
}
p{
    width: 800px;
    height: 800px;
    text-align: justify;
    font-family :'monospace';
    font-size: 30px;
    font-weight: lighter;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 20px;

}