body{
    background-image: url(/home/vigneshwaran/Pictures/blink.jpg);
    background-size: 100%;
}
.login{
    border: 5px solid  blue;
    box-shadow: 10px 10px 10px 10px blue;
    width: 400px;
    font-size: 20px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    background-color:antiquewhite;
}
.login h1{
    text-align: center;
    padding: 10px;
    text-shadow: 5px 5px 10px blue;
}
input{
    display: block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0 20px;
    border-color:  blue;
    box-shadow: 10px 10px 10px blue;
    
}
.btn{
    text-align: center;
}
button{
    padding: 10px;
    width: 60%;
    border-color:blue;
    box-shadow: 10px 10px 10px blue;
    font-size: 15px;
    border-radius: 10px;
}
#paralink{
    margin: 40px 0px 0px 50px;
    font-size: smaller;
}
a{
    text-decoration: none;
    font-size: larger;
    
}
a:hover{
    color:red;
    font-size: 25px;
}