.img{
    display: inline-flex;
    width: 150px;
    height: 140px;
    border-radius: 50%;
    border: none;
    background-image: url(/home/vigneshwaran/Pictures/w32.png);
    background-position: center;
    background-size: 100%;
    border: 2px solid green;
    margin-left: 70px;
    margin-top: 50px;
}
.con{
    width: 299px;
    height: 449px;
    border: 1px solid black;
    margin: 100px auto;
    background-color: black;
     border-radius: 20px; 
}
.para{
    text-align: center;
    padding-top: 30px;
    color: wheat;
    font-size: 30px;
}
.btn{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}
button{
    margin: 65px 0 0 0;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 96px;
    padding-right: 96px;
    border-radius: 20px;
    background-color: green;
    border: 2px solid green;
    

}