body{
    background: linear-gradient(rgb(5, 5, 97),brown);
}
.box{
    border: 1px solid black;
    margin: 200px auto;
    width: 500px;
    height: 330px;
    background-color: black;
    border-radius: 20px;
   
}
.para{
    padding: 30px;
    font-size: 20px;
    color: pink;
 
}
.para1{
    padding: 20px 20px 40px 30px;
    font-size: 20px;
    color: pink;
   
}
.btn{
    text-align: left;
  

}
button{
    margin-top: 50px;
    margin-left: 30px;
    padding: 15px;
    border-radius: 20px;
    background-color: green;
    border: 1px green;
   
}
a{
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;

}

.image{
    display: inline-flex;
    width: 190px;
    height: 180px;
    border-radius: 50%;
    border: none;
    background-image: url(/home/vigneshwaran/Pictures/w32.png);
    background-position: center;
    background-size: 100%;
}
.con .image{
    margin-top: 215px;
    float:left;
}
.image{
   position: absolute;
   margin-left: 650px;
}