table{
    width: 300px;
    height: 200px;
    box-shadow: -10px -10px 10px ,
    10px 10px 10px;

               
}
table,th,tr,td{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    text-transform: uppercase;
    background-color: gray;
}
.dd{
    text-align: center;
    text-transform: lowercase;
}
#ss{
    text-transform: uppercase;
}
tr:nth-child(odd){
    background-color:rgb(162, 238, 213);
}
tr:nth-child(even){
    background-color: rgb(240, 136, 118);
}
#last{
    background-color: rgb(236, 175, 187);
}
